extends layout

block content
    div(id='board-grid')
        div(class='board-grid--row')
            div(class='board-grid--item' data-row="1" data-column="1")
            div(class='board-grid--item' data-row="1" data-column="2")
            div(class='board-grid--item' data-row="1" data-column="3")
            div(class='board-grid--item' data-row="1" data-column="4")
        div(class='board-grid--row')
            div(class='board-grid--item' data-row="2" data-column="1")
            div(class='board-grid--item' data-row="2" data-column="2")
            div(class='board-grid--item' data-row="2" data-column="3")
            div(class='board-grid--item' data-row="2" data-column="4")
        div(class='board-grid--row')
            div(class='board-grid--item' data-row="3" data-column="1")
            div(class='board-grid--item' data-row="3" data-column="2")
            div(class='board-grid--item' data-row="3" data-column="3")
            div(class='board-grid--item' data-row="3" data-column="4")
        div(class='board-grid--row')
            div(class='board-grid--item' data-row="4" data-column="1")
            div(class='board-grid--item' data-row="4" data-column="2")
            div(class='board-grid--item' data-row="4" data-column="3")
            div(class='board-grid--item' data-row="4" data-column="4")
